## Preprocessing

In [44]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [45]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN'],axis=1).drop(['NAME'],axis=1).drop(['SPECIAL_CONSIDERATIONS'],axis=1)

In [46]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
STATUS                 2
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [47]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
value_counts_AT = application_df['APPLICATION_TYPE'].value_counts()
value_counts_AT

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [48]:
# Choose a cutoff value and create a list of application types to be replaced
application_types_to_replace = list(value_counts_AT.iloc[8:].index)
cutoff_value = 528

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [63]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
value_counts_C = application_df['CLASSIFICATION'].value_counts()
value_counts_C.head(15)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other      861
C7000      777
C1700      287
C4000      194
C5000      116
C2561        1
C1245        1
C4500        1
C8210        1
C4120        1
Name: count, dtype: int64

In [50]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_count = value_counts_C.loc[value_counts_C > 1]
classification_count

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1256        2
C1246        2
C1234        2
C1267        2
Name: count, dtype: int64

In [ ]:
classification_count.iloc[5:].index

Index(['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100',
       'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000',
       'C7120', 'C1500', 'C6000', 'C1800', 'C1250', 'C8200', 'C1238', 'C1278',
       'C1237', 'C1235', 'C7210', 'C1720', 'C2400', 'C4100', 'C1257', 'C1600',
       'C1260', 'C2710', 'C0', 'C3200', 'C1256', 'C1246', 'C1234', 'C1267'],
      dtype='object', name='CLASSIFICATION')

In [64]:
# Choose a cutoff value and create a list of classifications to be replaced
classifications_to_replace = list(classification_count.iloc[9:].index)
cutoff_value_classifications = 1883
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other      861
C7000      777
C1700      287
C4000      194
C5000      116
C2561        1
C1245        1
C4500        1
C8210        1
C4120        1
C2170        1
C1728        1
C1732        1
C2380        1
C1283        1
C1570        1
C2500        1
C3700        1
C1580        1
C2570        1
C1236        1
C2190        1
C4200        1
C5200        1
C1370        1
C2600        1
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: count, dtype: int64

In [27]:
application_df.dtypes

APPLICATION_TYPE    object
AFFILIATION         object
CLASSIFICATION      object
USE_CASE            object
ORGANIZATION        object
STATUS               int64
INCOME_AMT          object
ASK_AMT              int64
IS_SUCCESSFUL        int64
dtype: object

In [52]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(application_df, dtype='int64')
dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,0,1,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,1,142590,1,0,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [53]:
# Split our preprocessed data into our features and target arrays
y = dummies[['IS_SUCCESSFUL']].values
X = dummies.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [ ]:
y_train.shape

(25724, 1)

In [54]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
X_train_scaled.shape

(25724, 73)

## Compile, Train and Evaluate the Model

In [68]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

input_features_total = len(X_train[0])

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=12, activation='relu',input_dim=input_features_total))


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=6, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=3, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1 ,activation='sigmoid'))
# Check the structure of the model
nn.summary()

Model: "sequential_6"

 Layer (type)                     Output Shape                  Param #

 dense_19 (Dense)                 (None, 12)                        864

 dense_20 (Dense)                 (None, 6)                          78

 dense_21 (Dense)                 (None, 3)                          21

 dense_22 (Dense)                 (None, 1)                           4

 Total params: 967 (3.78 KB)

 Trainable params: 967 (3.78 KB)

 Non-trainable params: 0 (0.00 B)

In [69]:
# Compile the model
nn.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [70]:
# Train the model
fit_nn = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804  4s 2ms/step - accuracy: 0.6592 - loss: 0.6411
Epoch 2/100
804/804  3s 3ms/step - accuracy: 0.7218 - loss: 0.5663
Epoch 3/100
804/804  2s 3ms/step - accuracy: 0.7225 - loss: 0.5607
Epoch 4/100
804/804  2s 2ms/step - accuracy: 0.7278 - loss: 0.5519
Epoch 5/100
804/804  3s 2ms/step - accuracy: 0.7240 - loss: 0.5543
Epoch 6/100
804/804  2s 2ms/step - accuracy: 0.7242 - loss: 0.5549
Epoch 7/100
804/804  2s 2ms/step - accuracy: 0.7298 - loss: 0.5485
Epoch 8/100
804/804  3s 3ms/step - accuracy: 0.7301 - loss: 0.5478
Epoch 9/100
804/804  2s 2ms/step - accuracy: 0.7254 - loss: 0.5537
Epoch 10/100
804/804  3s 2ms/step - accuracy: 0.7297 - loss: 0.5487
Epoch 11/100
804/804  3s 2ms/step - accuracy: 0.7293 - loss: 0.5479
Epoch 12/100
804/804  3s 3ms/step - accuracy: 0.7312 - loss: 0.5465
Epoch 13/100
804/804  3s 3ms/step - accuracy: 0.7341 - loss: 0.5441
Epoch 14/100
804/804  2s 2ms/step - accuracy: 0.7327 - loss: 0.5450
Epoch 15/100
804/804  2s 2ms/step - accuracy: 0.7318 - loss: 0.5443
Epoch 16/100
804/804  3s 2ms/step - accuracy: 0.7330 - loss: 0.5458
Epoch 17/100
804/804  3s 2ms/step - accuracy: 0.7280 - loss: 0.5494
Epoch 18/100
804/804  3s 3ms/step - accuracy: 0.7291 - loss: 0.5496
Epoch 19/100
804/804  2s 2ms/step - accuracy: 0.7311 - loss: 0.5462
Epoch 20/100
804/804  2s 2ms/step - accuracy: 0.7284 - loss: 0.5458
Epoch 21/100
804/804  3s 2ms/step - accuracy: 0.7340 - loss: 0.5424
Epoch 22/100
804/804  2s 2ms/step - accuracy: 0.7323 - loss: 0.5453
Epoch 23/100
804/804  3s 3ms/step - accuracy: 0.7336 - loss: 0.5421
Epoch 24/100
804/804  2s 2ms/step - accuracy: 0.7287 - loss: 0.5472
Epoch 25/100
804/804  3s 3ms/step - accuracy: 0.7358 - loss: 0.5417
Epoch 26/100
804/804  2s 2ms/step - accuracy: 0.7289 - loss: 0.5467
Epoch 27/100
804/804  3s 2ms/step - accuracy: 0.7385 - loss: 0.5366
Epoch 28/100
804/804  3s 3ms/step - accuracy: 0.7335 - loss: 0.5382
Epoch 29/100
804/804  4s 2ms/step - accuracy: 0.7301 - loss: 0.5455
Epoch 30/100
804/804  2s 2ms/step - accuracy: 0.7321 - loss: 0.5425
Epoch 31/100
804/804  3s 2ms/step - accuracy: 0.7320 - loss: 0.5440
Epoch 32/100
804/804  3s 3ms/step - accuracy: 0.7354 - loss: 0.5397
Epoch 33/100
804/804  4s 2ms/step - accuracy: 0.7331 - loss: 0.5411
Epoch 34/100
804/804  3s 2ms/step - accuracy: 0.7310 - loss: 0.5429
Epoch 35/100
804/804  3s 2ms/step - accuracy: 0.7320 - loss: 0.5415
Epoch 36/100
804/804  4s 4ms/step - accuracy: 0.7370 - loss: 0.5379
Epoch 37/100
804/804  2s 2ms/step - accuracy: 0.7331 - loss: 0.5432
Epoch 38/100
804/804  2s 2ms/step - accuracy: 0.7344 - loss: 0.5401
Epoch 39/100
804/804  2s 2ms/step - accuracy: 0.7299 - loss: 0.5463
Epoch 40/100
804/804  2s 2ms/step - accuracy: 0.7262 - loss: 0.5480
Epoch 41/100
804/804  2s 3ms/step - accuracy: 0.7351 - loss: 0.5373
Epoch 42/100
804/804  3s 3ms/step - accuracy: 0.7312 - loss: 0.5427
Epoch 43/100
804/804  2s 2ms/step - accuracy: 0.7292 - loss: 0.5476
Epoch 44/100
804/804  3s 2ms/step - accuracy: 0.7323 - loss: 0.5437
Epoch 45/100
804/804  2s 2ms/step - accuracy: 0.7374 - loss: 0.5401
Epoch 46/100
804/804  2s 2ms/step - accuracy: 0.7358 - loss: 0.5369
Epoch 47/100
804/804  3s 3ms/step - accuracy: 0.7269 - loss: 0.5441
Epoch 48/100
804/804  4s 2ms/step - accuracy: 0.7361 - loss: 0.5387
Epoch 49/100
804/804  3s 2ms/step - accuracy: 0.7377 - loss: 0.5378
Epoch 50/100
804/804  2s 2ms/step - accuracy: 0.7316 - loss: 0.5448
Epoch 51/100
804/804  3s 3ms/step - accuracy: 0.7317 - loss: 0.5393
Epoch 52/100
804/804  2s 2ms/step - accuracy: 0.7324 - loss: 0.5422
Epoch 53/100
804/804  3s 2ms/step - accuracy: 0.7370 - loss: 0.5392
Epoch 54/100
804/804  2s 2ms/step - accuracy: 0.7286 - loss: 0.5452
Epoch 55/100
804/804  2s 2ms/step - accuracy: 0.7346 - loss: 0.5414
Epoch 56/100
804/804  3s 3ms/step - accuracy: 0.7344 - loss: 0.5425
Epoch 57/100
804/804  2s 3ms/step - accuracy: 0.7358 - loss: 0.5393
Epoch 58/100
804/804  2s 2ms/step - accuracy: 0.7341 - loss: 0.5404
Epoch 59/100
804/804  2s 2ms/step - accuracy: 0.7327 - loss: 0.5416
Epoch 60/100
804/804  3s 2ms/step - accuracy: 0.7297 - loss: 0.5429
Epoch 61/100
804/804  3s 3ms/step - accuracy: 0.7338 - loss: 0.5406
Epoch 62/100
804/804  4s 2ms/step - accuracy: 0.7322 - loss: 0.5372
Epoch 63/100
804/804  2s 2ms/step - accuracy: 0.7373 - loss: 0.5380
Epoch 64/100
804/804  3s 3ms/step - accuracy: 0.7319 - loss: 0.5423
Epoch 65/100
804/804  2s 3ms/step - accuracy: 0.7311 - loss: 0.5387
Epoch 66/100
804/804  3s 3ms/step - accuracy: 0.7376 - loss: 0.5388
Epoch 67/100
804/804  2s 2ms/step - accuracy: 0.7345 - loss: 0.5351
Epoch 68/100
804/804  2s 2ms/step - accuracy: 0.7337 - loss: 0.5404
Epoch 69/100
804/804  3s 2ms/step - accuracy: 0.7308 - loss: 0.5450
Epoch 70/100
804/804  2s 2ms/step - accuracy: 0.7334 - loss: 0.5394
Epoch 71/100
804/804  3s 3ms/step - accuracy: 0.7295 - loss: 0.5440
Epoch 72/100
804/804  2s 2ms/step - accuracy: 0.7351 - loss: 0.5370
Epoch 73/100
804/804  3s 2ms/step - accuracy: 0.7318 - loss: 0.5424
Epoch 74/100
804/804  2s 2ms/step - accuracy: 0.7355 - loss: 0.5371
Epoch 75/100
804/804  3s 2ms/step - accuracy: 0.7311 - loss: 0.5422
Epoch 76/100
804/804  3s 3ms/step - accuracy: 0.7340 - loss: 0.5400
Epoch 77/100
804/804  2s 2ms/step - accuracy: 0.7325 - loss: 0.5410
Epoch 78/100
804/804  2s 2ms/step - accuracy: 0.7378 - loss: 0.5386
Epoch 79/100
804/804  2s 2ms/step - accuracy: 0.7320 - loss: 0.5407
Epoch 80/100
804/804  3s 2ms/step - accuracy: 0.7340 - loss: 0.5435
Epoch 81/100
804/804  3s 3ms/step - accuracy: 0.7334 - loss: 0.5413
Epoch 82/100
804/804  3s 3ms/step - accuracy: 0.7365 - loss: 0.5368
Epoch 83/100
804/804  2s 2ms/step - accuracy: 0.7338 - loss: 0.5409
Epoch 84/100
804/804  2s 2ms/step - accuracy: 0.7378 - loss: 0.5392
Epoch 85/100
804/804  2s 2ms/step - accuracy: 0.7283 - loss: 0.5442
Epoch 86/100
804/804  3s 2ms/step - accuracy: 0.7366 - loss: 0.5384
Epoch 87/100
804/804  3s 3ms/step - accuracy: 0.7318 - loss: 0.5425
Epoch 88/100
804/804  2s 2ms/step - accuracy: 0.7343 - loss: 0.5404
Epoch 89/100
804/804  3s 2ms/step - accuracy: 0.7300 - loss: 0.5416
Epoch 90/100
804/804  3s 2ms/step - accuracy: 0.7303 - loss: 0.5408
Epoch 91/100
804/804  3s 3ms/step - accuracy: 0.7335 - loss: 0.5360
Epoch 92/100
804/804  3s 3ms/step - accuracy: 0.7339 - loss: 0.5401
Epoch 93/100
804/804  2s 2ms/step - accuracy: 0.7338 - loss: 0.5382
Epoch 94/100
804/804  2s 2ms/step - accuracy: 0.7323 - loss: 0.5433
Epoch 95/100
804/804  3s 2ms/step - accuracy: 0.7364 - loss: 0.5376
Epoch 96/100
804/804  2s 2ms/step - accuracy: 0.7335 - loss: 0.5400
Epoch 97/100
804/804  2s 3ms/step - accuracy: 0.7354 - loss: 0.5417
Epoch 98/100
804/804  3s 3ms/step - accuracy: 0.7377 - loss: 0.5370
Epoch 99/100
804/804  3s 3ms/step - accuracy: 0.7331 - loss: 0.5374
Epoch 100/100
804/804  2s 2ms/step - accuracy: 0.7341 - loss: 0.5406

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 2ms/step - accuracy: 0.7296 - loss: 0.5545
Loss: 0.5545485019683838, Accuracy: 0.7295626997947693

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.